<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>What We Do</title>
    <link rel="stylesheet" href="../css/layout.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/mediaqueries.css" />
  </head>
  <body>
    <div class="wrapper">
      <header class="header" id="header">
        <img class="logo" src="../assets/images/logo.jpg" alt="Hope Revealed" />
        <h2>Hope Revealed</h2>
        <ul>
          <li><a href="/index.html">Home</a></li>
        </ul>
      </header>

      <main class="whatwedo">
        <div>
          <h1>What We Do</h1>
        </div>
        <div>
          <h2>Health Initiatives</h2>
          <p>
            Promoting health and wellness is at the heart of our mission.
            Through partnerships and community engagement, we provide access to
            essential healthcare services, conduct health awareness programs,
            and support initiatives that improve the overall well-being of
            individuals and families.
          </p>
        </div>
        <div>
          <h2>Sports Development</h2>
          <p>
            We believe in the power of sports to inspire and empower. Our
            programs aim to foster talent, promote physical fitness, and teach
            valuable life skills such as teamwork and discipline through various
            sporting activities and events.
          </p>
        </div>
        <div>
          <h2>Christian Mission Outreaches</h2>
          <p>
            Rooted in faith, we are committed to spreading love, compassion, and
            the message of hope. Our Christian mission outreaches encompass
            spiritual guidance, humanitarian aid, and community building efforts
            that aim to uplift and support those in need.
          </p>
        </div>
        <div>
          <h2>Agriculture Initiatives</h2>
          <p>
            Sustainable agriculture is key to community development. We empower
            local farmers with training, resources, and technology to enhance
            agricultural productivity, promote food security, and improve
            livelihoods.
          </p>
        </div>
        <div>
          <h2>Livelihood Activities</h2>
          <p>
            Economic empowerment is fundamental to breaking the cycle of
            poverty. Through skill development programs, micro-enterprise
            support, and vocational training, we enable individuals to build
            sustainable livelihoods and achieve financial independence
          </p>
        </div>
      </main>
      <footer class="footer" id="footer">
        <p class="text">
          Together, we can transform lives and build brighter futures. Join Hope
          Revealed in our mission to create a better world for all.
        </p>
        <p class="copyright">
          All Rights Reserved <span class="year"></span> - Hope Revealed
        </p>
        <p class="contactnumber">Tell +256 776156515</p>
      </footer>
    </div>
    <script src="../js/script.js"></script>
  </body>
</html>
