* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto 16fr 4fr;
}

.wrapper header {
  grid-row: 1;
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto, auto, auto;
  overflow: hidden;
}
.wrapper header .logo {
  width: 100%;
  height: 100%;
  grid-column: 2 / 4;
  grid-row: 1;
  margin: 8px;
}
.wrapper header .logo img {
  width: 100%;
}
.wrapper header .heading {
  grid-column: 1 / -1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-row: 2;
}
.wrapper header .navigation {
  grid-column: 1 / -1;
  grid-row: 3;
  height: 100%;
  width: 100%;
  display: none;
}
.wrapper header .navigation nav {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  height: 100%;
  width: 100%;
}
.wrapper header .navigation nav ul {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  height: 100%;
}
.wrapper header .navigation nav ul li {
  grid-column: 1 / -1;
  width: 100%;
  height: 40px;
  display: flex;
  overflow: hidden;
}
.wrapper header .navigation nav ul li a {
  width: 100%;
  height: 100%;
  padding: 8px;
  transition: 0.5s;
}
.wrapper header .navigation nav ul li a:hover {
  scale: 101%;
  background-color: rgb(15, 3, 68);
  transition: 0.5s;
}

.wrapper header .togglebutton {
  grid-column: 11;
  grid-row: 1 / -1;
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

/* footer */
footer {
  grid-row: 3;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding-top: 20px;
}

footer .footernavigation {
  grid-column: 1 / -1;
  grid-row: 1;
  height: 100%;
  width: 100%;
}
footer .footernavigation nav {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  height: 100%;
  width: 100%;
}
footer .footernavigation nav ul {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  height: 100%;
}
footer .footernavigation nav ul li {
  grid-column: 1 / -1;
  width: 100%;
  height: 40px;
  display: flex;
  overflow: hidden;
}
footer .footernavigation nav ul li a {
  width: 100%;
  height: 100%;
  padding: 8px;
  transition: 0.5s;
}
footer .footernavigation nav ul li a:hover {
  scale: 101%;
  background-color: rgb(15, 3, 68);
  transition: 0.5s;
}
footer .footertext {
  grid-row: 2;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
}
footer .footertext p {
  text-align: center;
}

/* main */

.wrapper main {
  width: 100%;
  display: grid;
  grid-template-rows: 100vh repeat(1, 1fr);
}

/* hero-section */
.wrapper main .hero-section {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}
.wrapper main .hero-section h2 {
  grid-row: 3;
  grid-column: 2 / 12;
  text-align: center;
}
.wrapper main .hero-section p {
  grid-row: 5;
  grid-column: 2 / 12;
}

/* about-section */

.about-section {
  height: 150vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}
.wrapper main .about-section .abouttext {
  grid-row: 2 / 4;
  grid-column: 1 / -1;
  text-align: center;
}
.wrapper main .about-section .aboutimages {
  grid-row: 5 / 11;
  grid-column: 1 / -1;
  text-align: center;
}
.wrapper main .about-section .aboutimages img {
  width: 90%;
  height: 200px;
}

@media screen and (min-width: 600px) {
  .wrapper header {
    width: 100%;
    /* height: 10vh; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr), auto;
  }
  .wrapper header .logo {
    width: 100%;
    grid-column: 2;
    grid-row: 1 / -1;
  }
  .wrapper header .logo img {
    width: 100%;
  }
  .wrapper header .heading {
    grid-column: 3 / 9;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-row: 1 / -1;
  }
  .wrapper header .navigation {
    grid-column: 1 / -1;
    grid-row: 2;
    height: 100%;
    width: 100%;
    display: none;
  }
  .wrapper header .navigation nav {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    height: 100%;
    width: 100%;
  }
  .wrapper header .navigation nav ul {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .wrapper header .navigation nav ul li {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .wrapper header .navigation nav ul li a {
    width: 100%;
    height: 100%;
    padding: 8px;
  }
  .wrapper header .togglebutton {
    grid-column: 11;
    grid-row: 1 / -1;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  /* hero-section */
  .wrapper main .hero-section {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
  .wrapper main .hero-section h2 {
    grid-row: 3;
    grid-column: 2 / 12;
    text-align: center;
  }
  .wrapper main .hero-section p {
    grid-row: 5;
    grid-column: 2 / 12;
  }

  /* about-section */

  .about-section {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
  .wrapper main .about-section .abouttext {
    grid-row: 2 / 4;
    grid-column: 2 / -2;
    text-align: center;
    display: grid;
    gap: 20px;
  }
  .wrapper main .about-section .aboutimages {
    grid-row: 5 / 11;
    grid-column: 2 / -2;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 8px;
    gap: 8px;
  }
  .wrapper main .about-section .aboutimages img {
    width: 100%;
    height: 300px;
  }
}

@media screen and (min-width: 1000px) {
  .wrapper header {
    /* height: 10vh; */
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
  }

  .wrapper header .heading {
    grid-column: 3 / 6;
    grid-row: 1/ -1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .wrapper header .navigation {
    display: flex;
    grid-column: 6 / -1;
    grid-row: 1/ -1;
    height: 100%;
    width: 100%;
  }
  .wrapper header .navigation nav ul {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  .wrapper header .navigation nav ul li {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .wrapper header .navigation nav ul li a {
    width: 100%;
    height: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper header .togglebutton {
    display: none;
  }

  /* footer */
  footer {
    grid-row: 3;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20px 1fr 20px 1fr 20px;
    grid-template-rows: 20px repeat(1, 1fr) 20px;
  }
  footer .footernavigation {
    grid-column: 4;
    grid-row: 2;
    width: 100%;
    height: 200px;
  }
  footer .footernavigation nav ul li a {
    border-radius: 8px;
  }
  footer .footertext {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    height: 200px;
  }
}
