
* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
}


:root {
  --color-primary: #002039;
  --color-primary-light: #002039c4;
  --color-secondary: #ffecc7;
  --color-secondary-dark: #f8b3a3;
  --color-accent: #4aae55;
  --color-white: #ffffff;
  --color-black: #000000;
  --textxxl: 52px;
  --textxl: 32px;
  --textl: 24px;
}

.wrapper header {
  background-color: var(--color-primary);
  overflow: hidden;
}

.wrapper header .logo img {
  width: 100%;
}

.wrapper header .heading h1 {
  color: var(--color-white);
}
.wrapper header .navigation {
  grid-row: 3;
  height: 100%;
  width: 100%;
  display: none;
}
.wrapper header .navigation nav {
  height: 100%;
  width: 100%;
}
.wrapper header .navigation nav ul {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.wrapper header .navigation nav ul li {
  list-style: none;
  margin: 4px 0px;
}
@media screen and (min-width: 1000px) {
  .wrapper header .navigation nav ul li a {
    color: var(--color-white);
    text-decoration: none;
    font-size: var(--textl);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper header .navigation nav ul li a:hover {
    color: var(--color-accent);
    background-color: var(--color-secondary);
    border-bottom: 2px solid var(--color-white);
    scale: 101%;
  }
}
.wrapper header .navigation nav ul li a {
  text-decoration: none;
  font-size: var(--textl);
  text-align: start;
  color: var(--color-white);
}
.wrapper header .navigation nav ul li a:hover {
  color: var(--color-accent);
  background-color: var(--color-secondary);
  border-bottom: 2px solid var(--color-white);
  scale: 101%;
}
.wrapper header .togglebutton button {
  padding: 8px;
  border-radius: 8px;
  color: var(--color-white);
  background-color: var(--color-secondary-dark);
  cursor: pointer;
}

/* footer */
footer {
  grid-row: 3;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: var(--color-primary);
}
footer .footernavigation {
  grid-row: 1;
  width: 100%;
  height: 200px;
}
footer .footernavigation nav {
  width: 100%;
  height: 200px;
}
footer .footernavigation nav ul {
  width: 100%;
  height: 200px;
  display: grid;
}
footer .footernavigation nav ul li {
  width: 100%;
  height: 100%;
  display: grid;
}
footer .footernavigation nav ul li a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: var(--textl);
  color: var(--color-white);
}
footer .footernavigation nav ul li a:hover {
  background-color: var(--color-secondary);
  color: var(--color-accent);
}
footer .footerlogo h2 {
  color: var(--color-white);
  font-size: var(--textxl);
}
footer .footertext {
  grid-row: 2;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
}
footer .footertext p {
  padding: 8px;
  font-size: var(--textl);
  color: var(--color-white);
  text-align: center;
}

/* main */

.wrapper main {
  width: 100%;
}
.wrapper main .hero-section {
  background-image: url("../assets/images/image1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.wrapper main .hero-section .overlay {
  background: linear-gradient(to left top, rgba(0, 0, 255, 0.534), rgba(0, 0, 255, 0.432), rgba(255, 0, 0, 0.267));
}
.wrapper main .hero-section h2 {
  font-weight: bold;
  font-size: var(--textxl);
  color: var(--color-secondary-dark);
}
@media screen and (min-width: 600px) {
  .wrapper main .hero-section h2 {
    font-size: var(--textxxl);
  }
}
.wrapper main .hero-section p {
  color: var(--color-white);
  text-align: center;
  font-size: var(--textl);
}

/* about-section */

.about-section {
  background-color: var(--color-secondary);
}
.about-section .abouttext h2 {
  color: var(--color-accent);
  font-size: var(--textxl);
}
.about-section .abouttext p {
  font-size: var(--textl);
}
.about-section .abouttext p strong {
  font-size: var(--textl);
  color: var(--color-secondary-dark);
}

.wrapper main .about-section .aboutimages img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  transition: 0.5s;
}
.wrapper main .about-section .aboutimages img:hover {
  box-shadow: 0px 4px 50px 4px var(--color-primary);
  transition: 0.5s;
}

/* ourmission-section */
.ourmission-section {
  background-color: var(--color-secondary-dark);
}

@media screen and (min-width: 600px) {
  .ourmissiontext {
    padding: 8px;
    border-radius: 12px;
    background-color: var(--color-black);
    box-shadow: 12px 12px 12px 1px var(--color-primary);
  }
}
.ourmissiontext h2 {
  font-size: var(--textxl);
  color: var(--color-accent);
  text-align: start;
}
.ourmissiontext p {
  font-size: var(--textl);
  color: var(--color-white);
  text-align: center;
}
.ourmissionimage img {
  border-radius: 12px;
  transition: 0.5s;
}
.ourmissionimage img:hover {
  box-shadow: 0px 0px 20px 0px var(--color-primary);
  transition: 0.5s;
  scale: 104%;
  cursor: pointer;
}

.ourmissionimages img {
  transition: 0.5s;
  border-radius: 12px;
}
.ourmissionimages img:hover {
  box-shadow: 0px 0px 20px 0px var(--color-primary);
  transition: 0.5s;
  cursor: pointer;
}

/* getinvolved-section */
.getinvolved-section {
  background-color: var(--color-primary);
}

@media screen and (min-width: 600px) {
  .getinvolvedtext {
    border-radius: 12px;
  }
}
.getinvolvedtext h2 {
  font-size: var(--textxl);
  color: var(--color-accent);
  text-align: start;
}
.getinvolvedtext p {
  font-size: var(--textl);
  color: var(--color-white);
  text-align: center;
}
.getinvolvedimages img {
  transition: 0.2s;
  border-radius: 12px;
}
.getinvolvedimages img:hover {
box-shadow: 0px 0px 20px 0px var(--color-secondary-dark);
  transition: 0.2s;
  cursor: pointer;
}

/* .whatwedo-section */
.whatwedo-section {
  height: 100%;
  background-color: rgb(255, 255, 255);
}
.intro-text {
  background-image: url(../assets/images/image2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.whatwedo-section .intro-text .overlay {
background-color: #00043d94;
}
.whatwedo-section .intro-text .overlay h2 {
  text-align: center;
  font-size: var(--textxl);
  color: var(--color-accent );
}
.whatwedo-section .intro-text .overlay p {
  text-align: center;
color: var(--color-white );
  font-size: var(--textl);
}

.whatwedo-section .whatwedolist {
  padding: 24px 0px;
}
.whatwedo-section .whatwedo-card {
  background-color: #444141;
}
.whatwedo-section .whatwedo-card .cardtext h2 {
  padding: 12px;
  color: var(--color-secondary-dark);
  font-size: var(--textxl);
}
.whatwedo-section .whatwedo-card .cardtext p {
  padding: 12px;
  color: var(--color-white);
  font-size: var(--textl);
}

/* contactus-section */

.contactus-section {
  background-image: url(../assets/images/image5.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contactus-section .contacttext {
  background-color: var(--color-primary-light);
}

.contactus-section .contacttext .text h2 {
  font-size: var(--textxl);
  color: var(--color-accent);
}
.contactus-section .contacttext .text p {
  font-size: var(--textl);
  color: var(--color-white);
}

.animation1 {
  animation: appear1 linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.animation2 {
  animation: appear2 linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.animation3 {
  animation: appear3 linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes appear1 {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes appear2 {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
  transform: translateX(0px);
  }
}
@keyframes appear3 {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
  transform: translateX(0px);
  }
}


